<mat-selection-list [multiple]="false">
    <mat-list-option 
        *ngFor="let user of (usersService.users$ | async)"
        [routerLink]="['/home/userdetail', user.id.toString()]">
        <a mat-list-item (click)="setSelected(user)">
            <img matListAvatar src="{{user.photoUrl || './assets/user.png'}}" alt="...">
            <h3 matLine> {{user.firstname}} {{user.lastname}} </h3>
            <p matLine>
                <span> {{user?.dateOfBirth | date:'mediumDate'}} </span>
            </p>
            <mat-divider></mat-divider>
        </a>
    </mat-list-option>
</mat-selection-list>