<mat-toolbar>
    <button 
        mat-icon-button class="example-icon" 
        aria-label="Example icon-button with menu icon"
        (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>User Manager</span>
    <span class="navbar-spacer"></span>
    <div *ngIf="(accountService.currentUser$ | async) as user">
        <span>Welcome {{user.firstname}}</span>
    </div>
    <button 
        mat-icon-button class="example-icon" 
        aria-label="Example icon-button with menu icon"
        (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
</mat-toolbar>